<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>local_hospital</mat-icon>
  </button>
  <span>{{title}}</span>
  <div class="menu-buttons" *ngIf="isAdmin">
    <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="/lookup-lists">Lookup Lists</button>
      <button mat-menu-item routerLink="/custom-forms">Custom Forms</button>
    </mat-menu>
  </div>
  <div class="menu-buttons">
    <button mat-button [matMenuTriggerFor]="patientMenu">Patients</button>
    <mat-menu #patientMenu="matMenu"> 
      <button mat-menu-item routerLink="/view-patient">All Patients</button>
      <button mat-menu-item routerLink="/add-patient/0">Add Patient</button>
    </mat-menu>
  </div>
  <div class="menu-buttons">
    <button mat-button [matMenuTriggerFor]="appointmentMenu">Scheduling</button>
    <mat-menu #appointmentMenu="matMenu"> 
      <button mat-menu-item routerLink="/view-appointment/day">Today's Appointment</button>
      <button mat-menu-item routerLink="/view-appointment/week">Appointments This Week</button>
      <button mat-menu-item routerLink="/edit-appointment/0">Add Appointment</button>
    </mat-menu>
  </div>
  <span class="spacer"></span>
  <app-logout></app-logout>
</mat-toolbar>
<router-outlet></router-outlet>
