<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>local_hospital</mat-icon>
  </button>
  <span>{{title}}</span>
  <div class="menu-buttons">
    <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="/lookup-lists">Lookup Lists</button>
      <button mat-menu-item routerLink="/custom-forms">Custom Forms</button>
    </mat-menu>
  </div>
  <div class="menu-buttons">
    <button mat-button [matMenuTriggerFor]="patientMenu">Patient</button>
    <mat-menu #patientMenu="matMenu">
      <button mat-menu-item routerLink="/add-patient">Add Patient</button>
    </mat-menu>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
