<mat-card>
  <mat-card-header>
    <mat-card-title>
      Custom Forms
      <button mat-button color="primary" routerLink="/create-custom-form/0">
        <mat-icon>add_box</mat-icon>Add Field
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let entry"> {{entry.name}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let entry"> {{entry.type}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let entry">
          <div class="button-row">
            <button mat-stroked-button color="primary" [routerLink]="['/create-custom-form',entry.id]">Edit</button>
            <button mat-stroked-button color="warn" (click)="deleteField(entry)">Delete</button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
